<ul>
  <% @tasks.each do |task| %>
    <li>
      <%=link_to task.title, task_path(task) %>
      <% if task.completed %>
        <%=('<i class="fas fa-check-square"></i>').html_safe %>
      <% else %>
        <%= ('<i class="fas fa-square"></i>').html_safe %>
      <% end %>
      <%= link_to ('<i class="fas fa-trash-alt"></i>').html_safe,
        task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Add task", task_new_path %>
